<%- include('parts/html-head') %>
<%- include('parts/navbar') %>
<div class="container">
    <div class="row">
    <% if(! cart.length){ %>
        <h2>購物車沒有資料</h2>
    <% } else { %>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">del</th>
                    <th scope="col">封面</th>
                    <th scope="col">書名</th>
                    <th scope="col">價格</th>
                    <th scope="col">數量</th>
                </tr>
                </thead>
                <tbody>
                <% for(let c of cart){ %>
                <tr data-sid="<%= c.sid %>">
                    <td>del</td>
                    <td>
                        <img src="/product-img/small/<%= c.book_id %>.jpg" alt="...">
                    </td>
                    <td><%= c.bookname %></td>
                    <td><%= c.price %></td>
                    <td>
                        <select class="form-control quantity" data-val="<%= c.quantity %>">
                            <% for(let i=1; i<=10; i++){ %>
                            <option value="<%= i %>"><%= i %></option>
                            <% } %>
                        </select>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
    <% } %>
    </div>
</div>
<%- include('parts/scripts') %>
<script>
    const combo = $('.quantity');

    // 把設定在 data-val 的值設定給 combobox
    combo.each(function(){
        $(this).val( $(this).attr('data-val') );
    });

    combo.on('change', function(event){
        const me = $(this);
        const qty = me.val();
        const pk = me.closest('tr').attr('data-sid');

        $.post('/cart/add', {pk, qty}, function(data){
            location.reload();
        }, 'json');
    });

</script>

<%- include('parts/html-foot') %>