<%- include('parts/html-head') %>
<%- include('parts/navbar') %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form name="form1" onsubmit="checkForm(); return false;">
                <div class="form-group">
                    <label for="account">帳號</label>
                    <input type="text" class="form-control" id="account" name="account" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">登入</button>
            </form>
        </div>
    </div>
</div>
<%- include('parts/scripts') %>
<script>
    function checkForm(){
        $.post('', $(document.form1).serialize(), function(data){
            console.log(data);
            if(data.success){
                location.href = '/address-book/list';
            } else {
                alert('帳號或密碼錯誤');
            }
        }, 'json');
    }

</script>

<%- include('parts/html-foot') %>