<%- include('parts/html-head') %>
<%- include('parts/navbar') %>
<div class="container">
    <div class="row">
        <% for(let p of rs){ %>
        <div class="col-lg-3">
            <div class="card">
                <img src="/product-img/big/<%= p.book_id %>.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= p.bookname %></h5>
                    <p class="card-text"><i class="fas fa-user-friends"></i> <%= p.author %></p>
                    <p class="card-text"><i class="fas fa-dollar-sign"></i> <%= p.price %>
                        <button class="btn btn-info addToCartBtn" data-sid="<%= p.sid %>">
                            <i class="fas fa-cart-plus"></i>
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <% } %>
    </div>


</div>
<%- include('parts/scripts') %>
<script>
    const cartBtns = $('.addToCartBtn');

    cartBtns.on('click', function(event){
        const me = $(this);
        const pk = me.attr('data-sid');

        $.post('/cart/add', {pk:pk, qty:1}, function(data){
            console.log(data);
        }, 'json');
    });

</script>

<%- include('parts/html-foot') %>