<%- include('parts/html-head') %>
<%- include('parts/navbar') %>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">員工編號</th>
            <th scope="col">姓名</th>
            <th scope="col">年齡</th>
        </tr>
        </thead>
        <tbody>
        <% for(let s of sales){ %>
        <tr>
            <td><%= s.id %></td>
            <td><%= s.name %></td>
            <td><%= s.age %></td>
        </tr>
        <% } %>
        </tbody>
    </table>

</div>
<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>