<% for(let i of rows){ %>
<tr>
    <td>
        <a href="javascript: delete_it(<%= i.sid %>)">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
    <td><%= i.sid %></td>
    <td><%= i.name %></td>
    <td><%= i.email %></td>
    <td><%= i.mobile %></td>
    <td><%= i.birthday ? dateToDateString(i.birthday) : '' %></td>
    <td><%= i.address %></td>
    <td>
        <a href="/address-book/edit/<%= i.sid %>">
            <i class="fas fa-edit"></i>
        </a>
    </td>
</tr>
<% } %>
