<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>
<style>
    table a i.fa-trash-alt {
        color: red;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item ">
                        <a class="page-link" href="?page=1">第一頁</a>
                    </li>

                    <% for(let i=page-5; i<=page+5; i++){ %>
                        <% if(i>=1 && i<=totalPages){ %>
                            <li class="page-item <%= i===page ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                    <% } %>

                    <li class="page-item ">
                        <a class="page-link" href="?page=<%= totalPages %>">第後頁(<%= totalPages %>)</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><i class="fas fa-trash-alt"></i></th>
            <th scope="col">#</th>
            <th scope="col">姓名</th>
            <th scope="col">Email</th>
            <th scope="col">手機</th>
            <th scope="col">生日</th>
            <th scope="col">地址</th>
            <th scope="col"><i class="fas fa-edit"></i></th>
        </tr>
        </thead>
        <tbody>
        <% for(let i of rows){ %>
        <tr>
            <td>
                <a href="javascript: delete_it(<%= i.sid %>)">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
            <td><%= i.sid %></td>
            <td><%= i.name %></td>
            <td><%= i.email %></td>
            <td><%= i.mobile %></td>
            <td><%= i.birthday ? dateToDateString(i.birthday) : '' %></td>
            <td><%= i.address %></td>
            <td>
                <a href="/address-book/edit/<%= i.sid %>">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
<%- include('../parts/scripts') %>
<script>
    function delete_it(sid){
        if(confirm(`是否要刪除編號為 ${sid} 的資料?`)) {
            location.href = "/address-book/delete/" + sid;
        }
    }
</script>
<%- include('../parts/html-foot') %>