<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>
<style>
    table a i.fa-trash-alt {
        color: red;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><i class="fas fa-trash-alt"></i></th>
            <th scope="col">#</th>
            <th scope="col">姓名</th>
            <th scope="col">Email</th>
            <th scope="col">手機</th>
            <th scope="col">生日</th>
            <th scope="col">地址</th>
            <th scope="col"><i class="fas fa-edit"></i></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <button class="btn btn-primary load-more">載入</button>
</div>
<%- include('../parts/scripts') %>
<script>
    const loadBtn = $('.load-more');
    const tbody = $('tbody');
    let currentPage = 1;



    function loadProductData(){
        $.get('/address-book/list3-part/' + currentPage, function(data){
            tbody.append(data);
            currentPage ++;
        });
    }
    loadProductData();

    loadBtn.on('click', function(){
        loadProductData();
    });

    function delete_it(sid){
        if(confirm(`是否要刪除編號為 ${sid} 的資料?`)) {
            location.href = "/address-book/delete/" + sid;
        }
    }



</script>
<%- include('../parts/html-foot') %>