<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>
<style>
    table a i.fa-trash-alt {
        color: red;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><i class="fas fa-trash-alt"></i></th>
            <th scope="col">#</th>
            <th scope="col">姓名</th>
            <th scope="col">Email</th>
            <th scope="col">手機</th>
            <th scope="col">生日</th>
            <th scope="col">地址</th>
            <th scope="col"><i class="fas fa-edit"></i></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <button class="btn btn-primary load-more" style="display: none">載入</button>
</div>
<%- include('../parts/scripts') %>
<script>
    const loadBtn = $('.load-more');
    const tbody = $('tbody');
    let resultData = {};

    const itemTpl = o => {
        return `
        <tr>
            <td>
                <a href="javascript: delete_it(${o.sid})">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
            <td>${o.sid}</td>
            <td>${o.name}</td>
            <td>${o.email}</td>
            <td>${o.mobile}</td>
            <td>${o.birthday}</td>
            <td>${o.address}</td>
            <td>
                <a href="/address-book/edit/${o.sid}">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
        </tr>`;


    }

    function loadProductData(page=1){
        $.get('/address-book/list2-api/' + page, function(data){
            resultData = data;

            let str = '';
            for(let i of data.rows){
                str += itemTpl(i);
            }
            tbody.append(str);
            if(data.totalPages > data.page){
                loadBtn.show();
            }
        });
    }
    loadProductData();

    loadBtn.on('click', function(){
        $(this).hide();
        loadProductData(resultData.page + 1);
    });

    function delete_it(sid){
        if(confirm(`是否要刪除編號為 ${sid} 的資料?`)) {
            location.href = "/address-book/delete/" + sid;
        }
    }



</script>
<%- include('../parts/html-foot') %>